* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f0f7ff; /* Light bluish background */
  color: #333; /* Soft dark gray text */
  font-size: 16px;
  line-height: 1.6;
}